@tailwind base;
@tailwind components;
@tailwind utilities;

/*Editproduct  css*/
.purple-button {
    background-color: #8b5cf6;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out;
  }
  
  .purple-button:hover {
    background-color: #7c3aed;
  }
/*sidebar css*/

.hamburger {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: all .3s ease-in-out;
}

.sidebar.open {
    left:0px
}
/* CSS for the list component */
.product-list {
  width: 300px; /* adjust this to your desired width */
  margin-right: auto; /* align to the right */
}

.list-group {
  height: 500px; /* adjust this to your desired height */
  overflow-y: scroll; /* enable vertical scrolling */
}
/*homepage style 2*/
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
  color: white;
}

.homepage-title {
  font-size: 3rem;
}

.homepage-description {
  font-size: 1.5rem;
}

.homepage-button {
  padding: .5rem 1rem;
  font-size: 1.2rem;
}

@media (max-width:600px) {
    .homepage-title{
        font-size:2rem
    }
    .homepage-description{
        font-size:1.2rem
    }
}