@tailwind base;
@tailwind components;
@tailwind utilities;

/*Editproduct  css*/
.purple-button {
    background-color: #8b5cf6;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out;
  }
  
  .purple-button:hover {
    background-color: #7c3aed;
  }


